<div class="row">
  <div class="col">
    <h1>Your cart</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th class="text-center">Quantity</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ruby on Rails Ringer T-Shirt</td>
          <td>30 PLN</td>
          <td class="text-center">1</td>
          <td class="text-right">30 PLN</td>
        </tr>
        <tr>
          <td>Ruby on Rails Mug</td>
          <td>30 PLN</td>
          <td class="text-center">1</td>
          <td class="text-right">20 PLN</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="text-right">
          <td colspan="4" class="text-right">
            Sum <strong>50 PLN</strong>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="text-right">
      <%= link_to 'Pay', orders_path, method: :post, class: 'btn btn-success'%>
    </div>
  </div>
</div>
